venv/
*~
__pycache__/
.vscode/
credentials.py
results/
results2/
results_sg/
test_results/
data/*/*.json
data/*/*.csv
data/*/*.gz
*.csv
*.xml
*.json
*.temp
*.duckdb
*.gz
*.png
data/reddit/*.jsonl
vector_db/*
reddit_predicted/
plots/
disclosure/